/* HEADER */
div {
	display: inline-block;
}

/* TOPBAR */
.top-bar {
	text-transform: uppercase;
	display: flex;
}

#menu li {
	margin-left: 7px;
}

#header_cart {
	margin: 0 20px;
}
#header_search {
	margin: 0 20px;
}

/* JUMBOTRON */
.jumbo {
	display: flex;
}